*,
::before,
::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

:root {
  --width: 80px;
  --height: 80px;
}

body {
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; height: 100vh;
  overflow: hidden;
}

.container {
  background: url("../img/drumbs.jpg") no-repeat center / contain;
  position: relative;
  width: 100vw; 
  aspect-ratio: 16 / 9; 
}

.key {
  background-color: rgba(250,250,250,0.4);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 .5px black;
  transition: all .07s ease;
  min-width: 40px; min-height: 40px;
  transform: translate(-50%, -50%); 
  position: absolute;
  width: var(--width); height: var(--height);
}

.clap    { top: 10%; left: 35%; }
.hihat   { top: 10%; left: 66%; }
.kick    { top: 36%; left: 42%; }
.openhat { top: 53%; left: 26%; }
.boom    { top: 45%; left: 71%; }
.ride    { top: 32%; left: 12%; }
.snare   { top: 36%; left: 58%; }
.tom     { top: 66%; left: 49%; }
.tink    { top: 33%; left: 87%; }


.playing {
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  transform: translate(-50%, -50%) scale(1.1);
}


/* 📱 Tablette */
@media screen and (max-width: 1024px) {
  .key {
    width: 9%;
    height: 9%;
  }
}

/* 📱 Mobile */
@media screen and (max-width: 768px) {
  .key {
    width: 11%;
    height: 11%;
  }
}

/* 📱 Très petits écrans */
@media screen and (max-width: 480px) {
  .key {
    width: 13%;
    height: 13%;
  }
}
