*,
::before,
::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}

:root {
  --width: 80px;
  --height: 80px;
}

body {
  background-color: #000000;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; height: 100vh;
  overflow: hidden;
}

.container {
  background: url("../img/drumbs.jpg") no-repeat center / contain;
  border: 1px solid gold;
  position: relative;
  max-width: 90vw;
  width: 100vw; 
  aspect-ratio: 16 / 9; 
}

.key {
  background-color: rgba(250,250,250,0.8);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #ffc600;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: .2rem;
  padding: 10px;
  position: absolute;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all .07s ease;
  transform: translate(-50%, -50%); 
  height: var(--height);
}

.clap    { top: 10%; left: 35%; }
.hihat   { top: 10%; left: 66%; }
.kick    { top: 36%; left: 42%; }
.openhat { top: 53%; left: 26%; }
.boom    { top: 45%; left: 71%; }
.ride    { top: 32%; left: 12%; }
.snare   { top: 36%; left: 58%; }
.tom     { top: 66%; left: 49%; }
.tink    { top: 33%; left: 87%; }


.playing {
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  transform: translate(-50%, -50%) scale(1.1);
}


/* 📱 Tablette */
@media screen and (max-width: 1024px) {
  .container { border: 1px solid red;}

  .key {
    font-size: .9rem;
    height: 9%;
  }
}

/* 📱 Mobile */
@media screen and (max-width: 768px) {
  .container { border: 1px solid orange;}

  .key {
    font-size: .7rem;
    height: 11%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

/* 📱 Très petits écrans */
@media screen and (max-width: 480px) {
  .container { border: 1px solid green;}

  .key {
    font-size: 1.4rem;
  }

  .sound {
    display: none;
  }
}
